/frontend/node_modules/

/backend/var/
/backend/vendor/

/backend/.env.local
/backend/.env.*.local

/frontend/.angular/
/frontend/dist/
frontend/tmp/
frontend/cache/

*.log
.DS_Store
*.lock
!composer.lock
!symfony.lock
.idea/
.vscode/
*.bak
npm-debug.log*

docker-compose.override.yml