/frontend/node_modules/
/frontend/.angular/
/frontend/dist/
/frontend/tmp/
/frontend/cache/

/backend/var/*
!/backend/var/data.db
/backend/vendor/
/backend/.env.local
/backend/.env.*.local

*.log
.DS_Store
*.lock
!composer.lock
!symfony.lock
.idea/
.vscode/
*.bak
npm-debug.log*

docker-compose.override.yml